#container{
    background-color: #1e1c1b;
}

#header{
    width: 50px;
    height: 100vh;
    background: red;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.menu {
    background-color: transparent;
    width: 60px;
    height: 100%;
    /* border-right: 1px solid rgba(255, 255, 255, 0.15); */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;

}
.menu > h1{
    position: absolute;
    top: 36px;
    left: 21px;
}
.menu .btn_menu{
    width: 19px;
    height: 19px;
    position: absolute;
    top: 48%;
    left: 36%;
    cursor: pointer;
    background: url("../img/section01/menu.png")no-repeat center;
    transition:all 1s;
}

.menu .btn_menu.on{
    background: url("../img/section01/X.png")no-repeat center;
}
.menu .btn_contact{
    position: absolute;
    bottom: 36px;
    left: 40%;
}


.round_txt {
    position: fixed;
    top: 4%;
    right: 4%;
    z-index: 9999;
    animation:rotate 12s infinite linear;
}

@keyframes rotate {
    to{
        transform:rotate(360deg);
    }
}


#mega{
    width: 33vw;
    height: 100vh;/*viewport height*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    background: #e87e17;
    transform:translateX(-101%);
    transition:all 1s cubic-bezier(0.88,-0.06, 0.06, 1.05);

}

#mega.on{
    transform:translateX(0);
}

#mega .txt_box{
    position: absolute;
    top: 50%;
    left: 146px;
    margin-top: -210px;
    width: 378px;
    height: 382px;
}
#mega .txt_box .txt{
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 24px;
}
#mega .txt_box .txt > li:nth-child(1){margin-bottom: 48px}
#mega .txt_box .txt > li:nth-child(2){margin-bottom: 48px}

#mega .txt_box .sns{
    position: absolute;
    left: 0;
    bottom: 0;
}
#mega .txt_box .sns > li:nth-child(1){margin-bottom: 24px}
#mega .txt_box .sns > li:nth-child(2){margin-bottom: 24px}

#mega .txt_box > ul:nth-child(1) > li > a{
    padding-bottom: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
}
#mega .txt_box > ul:nth-child(1) > li > a:hover{
    border-bottom: 4px solid rgba(255, 255, 255, 1);
    transition: all 0.7s;
}
#mega .txt_box > ul:nth-child(2) > li > a{
    padding-bottom: 2px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}
#mega .txt_box > ul:nth-child(2) > li > a:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    transition: all 0.7s;
}

#mega .info{
    position: absolute;
    left: 146px;
    bottom: 60px;
}

/** Scene01 **/
#section01{
}


#section01 .img01{
    position: absolute;
    left: 4vw;
    top: 3vh;
    opacity: 0;
}
#section01 .img02{
    position: absolute;
    top: 124px;
    right: 114px;
    opacity: 0;
}
#section01 .img02:after{
    content: '';
    background-image: url(../img/section01/sub_txt.png);
    width: 15px;
    height: 168px;
    position: absolute;
    bottom: 0;
    left: -30px;
}
#section01 .img03{
    position: absolute;
    right: 13vw;
    bottom: 16vh;
    opacity: 0;
}
#section01 .img03:after{
    content: '';
    background-image: url(../img/section01/sticker.png);
    width: 133px;
    height: 132px;
    position: absolute;
    top: 50px;
    left: 380px;
}
#section01 .img03:before{
    content: '';
    background-image: url(../img/section01/sub_txt2.png);
    width: 363px;
    height: 32px;
    position: absolute;
    left: 0;
    bottom: -74px;
}
#section01.on > div{
    opacity: 1;
    transition: all 5s;
    transition-delay: 0.3s;
}
#section01.on > div:nth-child(2){transition-delay: 0.5s;}
#section01.on > div:nth-child(3){transition-delay: 0.6s;}


#section01 .txt_box {
    position: absolute;
    top: 45vh;
    left: 11vw;
    width: 1360px;
    height: 400px;
}
#section01 .txt_box .title1{
    margin-bottom: 68px;
    overflow: hidden;
}
#section01 .txt_box .title2{
    margin-bottom: 10px;
    overflow: hidden;
}
#section01 .txt_box .title1 > img{
    transform: translateY(100%);
    transition: all 1.2s cubic-bezier(0.25, 0.1, 0.18, 1.01);
}
#section01 .txt_box .title2 > img{
    transform: translateY(100%);
    transition: all 0.7s cubic-bezier(0.25, 0.1, 0.18, 1.01);
    transition-delay: 0.5s;
}
#section01 .txt_box.on .title1 > img,
#section01 .txt_box.on .title2 > img{
    transform: translateY(0);
}
#section01 .txt_box .txt > div{
    margin-bottom: 10px;
    height: 24px;
    overflow: hidden;
}
#section01 .txt_box .txt > div > img{
    transform: translateY(24px);
    transition: all 1.6s cubic-bezier(0.25, 0.1, 0.18, 1.01);
    transition-delay: 0.2s;
    opacity: 0;
}
#section01 .txt_box .txt.on > div > img {
    transform: translateY(0);
    opacity: 1;
}





/** Scene02 **/
/* #section02{
    background-color: #e87e17;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/section02/bg.png);
    background-repeat: no-repeat;
    background-position: center;

}

#section02 .inner{
    width: 84vw;
    height: 70vh;
    position: relative;

}
/* #section02 .inner:after{
    content: '';
    background-image: url(../img/section02/jeen1.png);
    color: red;
    position: absolute;
    top: 12%;
    left: 35%;
    width: 1041px;
    height: 270px;
} */

/* #section02 .inner .title{
    position: absolute;
    top: 45%;
    left: 55%;
    overflow: hidden;
}
#section02 .inner .title > img{
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s;
}
#section02 .inner .title.on > img{
  opacity: 1;
    transform: translateX(0);
} */
/* #section02 .inner .jeen{
  position: absolute;
  top: 8vh;
  right: 0;
} */
/* #section02 .inner .img{
    position: absolute;
    top: 0;
    left: 3%;
    opacity: 0;
    transform: translateX(20%);
    transition: all 1.5s;
}
#section02 .inner .img.on{
    opacity: 1;
    transform: translateX(0);
}

#section02 .inner .txt{
    position: absolute;
    bottom: 13%;
    left: 55%;

}
#section02 .inner .txt > img{
    transform: translateX(15%);
    opacity: 0;
    transition: all 1.5s;
    transition-delay: 0.2s;
}
#section02 .inner .txt.on > img{
    transform: translateX(0);
    opacity: 1;
} */


/** Scene03 **/
#section03{
    background-color: #1e1c1b;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section03 .inner{
    width: 85vw;
    height: 80vh;
    position: relative;
}
#section03 .inner .list .ctn4,
#section03 .inner .list .ctn5{
  position: relative;
  top: 1px;
}

#section03 .title_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 200px;
}
#section03 .title_box > div{
    overflow: hidden;
}
#section03 .title_box > div > img{
    transform: translateY(100%);
    transition: all 1s;
}
#section03 .title_box.on > div > img{
    transform: translateY(0);
}
#section03 .title_box > div:nth-child(1){margin-bottom: 32px;}
#section03 .title_box > div:nth-child(2){margin-bottom: 16px;}
#section03 .title_box > div:nth-child(3){margin-bottom: 8px;}


#section03 .inner .list {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 236px;
    /* background-color: pink; */
}
#section03 .inner .list > div{
    width: 16.66%;
    height: 236px;
    float: left;
    /* background-color: green; */
    position: relative;
}
#section03 .inner .list .txt > img:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.5s;
}
#section03 .inner .list .txt:hover > img:nth-child(1){
  opacity: 0;
}
#section03 .inner .list .txt > img:nth-child(2){
  position: absolute;
  left: 0;
  top: -1px;
  opacity: 0;
  transition: 0.5s;
}
#section03 .inner .list .txt:hover > img:nth-child(2){
  opacity: 1;
}
#section03 .inner .list .txt > img:nth-child(3){
  position: absolute;
  opacity: 0;
  transition: 0.7s;
}
#section03 .inner .list .ctn1 .txt > img:nth-child(3){top: -60vh;right: -70vw;}
#section03 .inner .list .ctn2 .txt > img:nth-child(3){top: -62vh;right: -52vw;}
#section03 .inner .list .ctn3 .txt > img:nth-child(3){top: -58vh;right: -40vw;}
#section03 .inner .list .ctn4 .txt > img:nth-child(3){top: -57vh;right: -26vw;}
#section03 .inner .list .ctn5 .txt > img:nth-child(3){top: -58vh;right: -9vw;}
#section03 .inner .list .ctn6 .txt > img:nth-child(3){top: -57vh;right: 4vw;}


#section03 .inner .list .txt:hover > img:nth-child(3){
  opacity: 1;

}

#section03 .inner .list::before{
        content: '';
        width: 100%;
        height: 1px;
        background-color: #656565;
        position: absolute;
        left: 0;
        top: 108px;
}



/** Scene05 **/
#section04{
    background-color: #1e1c1b;
    position: relative;
}
#section04 .img {
    position: absolute;
    width: 80vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 2s;
}
#section04 .img.on{
    opacity: 1;
}

#section04 .img > img{
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
#section04 .txt_box:before{
    content: '';
    background-image: url(../img/footer/sticker.png);
    width: 109px;
    height: 109px;
    position: absolute;
    top: -17vh;
    left: -9vw;
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
}
#section04.on .txt_box:before{
    opacity: 1;
}
#section04 .txt_box{
    width: 496px;
    height: 396px;
    position: absolute;
    right: 48vw;
    top: 34vh;
}
#section04 .txt_box > img{
  display: block;
}

#section04 .txt_box > div:nth-child(1){margin-bottom: 16px;}
#section04 .txt_box > div:nth-child(2){margin-bottom: 40px;}
#section04 .txt_box > div:nth-child(3){margin-bottom: 12px;}
#section04 .txt_box > div:nth-child(4){margin-bottom: 100px;}
#section04 .txt_box > div:nth-child(5){margin-bottom: 6px;}
#section04 .txt_box > div:nth-child(6){margin-bottom: 16px;}
#section04 .txt_box > div:nth-child(7){margin-bottom: 6px;}

#section04 .txt_box > div{
    overflow: hidden;
}
#section04 .txt_box > div > img{
    transform: translateY(110%);
    opacity: 0;
    transition: 1.2s;
}
#section04 .txt_box > div > a > img{
    transform: translateY(110%);
    opacity: 0;
    transition: 1.2s;
}
#section04 .txt_box div:nth-child(2) > img {transition-delay: 0.2s;}
#section04 .txt_box div:nth-child(3) > img {transition-delay: 0.3s;}
#section04 .txt_box div:nth-child(4) > img {transition-delay: 0.3s;}
#section04 .txt_box div:nth-child(5) > a > img {transition-delay: 0.5s; cursor: pointer;}
#section04 .txt_box div:nth-child(6) > img {transition-delay: 0.5s;}
#section04 .txt_box div:nth-child(7) > img {transition-delay: 0.5s;}
#section04 .txt_box div:nth-child(8) > img {transition-delay: 0.5s;}

#section04.on .txt_box > div > img{
    transform: translateY(0);
    opacity: 1;
}
#section04.on .txt_box > div > a > img{
    transform: translateY(0);
    opacity: 1;
}

#section04 .sub_txt_box{
  width: 360px;
  height: 68px;
  position: absolute;
  bottom: 10vh;
  right: 5vw;
  display: flex;
  justify-content: space-between;
    transform: translateX(20%);
    opacity: 0;
    transition: all 1.5s;
}
#section04 .sub_txt_box.on{
    transform: translateX(0);
    opacity: 1;
}
